@media (max-width: 768px) {
    .container h1 {
        text-align: center;
    }

    .container p {
        text-align: center;
    }

    .jumbo-btn {
        text-align: center;
        padding-bottom: 30px;
    }

    nav ul {
        width: 50%;
        display: flex;
        justify-content: flex-start;
    }
}

@media screen and (max-width: 576px) {
    nav ul {
        position: absolute;
        right: 0;
        top: 0;
        height: 100vh;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        background-color: black;
        width: 50%;
        z-index: 1;
        transform: translateX(100%);
        transition: all 1s;
        opacity: 0;
    }

    .menu-toggle {
        display: flex;
    }

    nav ul.slide {
        transform: translateX(0);
        opacity: 1;
    }

    .menu-toggle {
        position: absolute;
        top: 10;
        right: 0;
    }

    .contact-title .contact-btns {
        right: 20%;
    }

}